body {
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

.content_paypal a {
  color: var(--green-color);
}
