@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* variables */
:root {
    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:#313337;
    /* tipografia */
    --normal:12px;
    /* espaciado */
    --space:10px;
    /* box shadow} */
    --box: 0 0 2px #c1bcbc;
    
}



/* variables */
html,body {
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    background-color: var(--green-color) ;
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left:20px;
    list-style: none;
}

nav li a {
    color:var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/* --------------MAIN SECTION------------ */

.main_section {
    padding: 15% 0 20% 0;
    margin: -176px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.product {
    padding: var(--space);
    margin-top: -380px;
}

.product .content {
    background-color:var(--white-color);
    padding: 15px;
    box-shadow:var(--box);
    width: 240px;
}

.image_content{
    text-align: center;
}

.main_button {
    background-color:var(--green-color)  ;
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color:var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color:#5a9816;
}
/* ------------FEATURES------------- */

.features {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 20% 0;
    /* margin: 0 104px; */
    align-items: center;
}

.features .feature_content {
    text-align: center;
}
.features .feature_content p {
    font-size: var(--normal);
}

.features .feature_content h3 {
    font-size: 17px;
    font-weight: bold;
}

.features .feature_content .feature_image1 img {
    height: 113px;
    width: 138px;
}
.features .feature_content .feature_image2 img{
    width: 112px;
    height: 103px;
}

.features .feature_content .feature_image3 img {
    width: 104px;
    height: 104px;
}
.feature_image {
    text-align: center;
    height: 120px;
}

/* --------------MENTION SECTION----------- */
.mention_title{
    display: flex;
    justify-content: center;
    margin: 0;
    border-top: 1px solid #EEEEEE;
    margin-top: 77px;

}
.mention_title h4 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 77.5px;
    margin-bottom: 39px;
    
}
.mentions_section {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.mentions {
    width:240px ;
    height: 190px;
    margin: 5px;
    /* background: #FFFFFF; */
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px
    
}
.mention_text h5 {
    font-size: 17px;
    padding-left: 8px;
    margin: 0;
}

.mention_text p {
    font-size: var(--normal);
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 6px;
    margin: 0;
}

/* ------------footer-------------- */

.footer_options {
    background: #313337;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options ul {
    list-style: none;
    padding-left: 16px;
    padding-right:17px ;
}

.options ul li a{
    color: var(--white-color);
    text-decoration: none;
}

.options ul li a:hover{
    color:#b9b9b9 ;
}


